.table-wrapper {
  border: 2px solid red;
  width: 400px;
  height: 800px;
  overflow: hidden;
  .table-countries {
    height: 650px;
    overflow: auto;
    .table-countries__country {
      border: 2px solid green;
      margin: 1px;
    }
  }
  .table-selectors {
    display: flex;
    justify-content: space-between;
  }
}
