<section class="table-wrapper">
  <section class="table-world" *ngIf="!loading; else loader">
    <h2>{{appState.currentStat}}:
      {{global[appState.currentStat] | json | number}}
    </h2>
    <p>{{countries[0].Date | date: 'medium'}}</p>
    <hr/>
    <article class="table-countries">
      <input list="countries" id="table-countries__input" [(ngModel)]="appState.currentField">
      <datalist id="countries">
        <option *ngFor="let country of countries | filter:appState.currentField | sort">{{country.Country}}</option>
      </datalist>
      <div class="table-countries__country" *ngFor="let country of countries | filter:appState.currentField | sort">
        {{country.Country}} <img src="https://www.countryflags.io/{{country.CountryCode}}/flat/32.png">
        <br>
        {{appState.statsForPoopulation? country[appState.currentStat] / 1000000 : country[appState.currentStat] | number}}
      </div>
    </article>
    <hr/>
    <section class="table-selectors">
      <div class="table-selector" id="stats">
        <button (click)="appState.downState()"><</button>
        {{appState.statsForToday ? appState.currentStat.replace('New', '') : appState.currentStat.replace('Total', '')}}
        <button (click)="appState.upState()">></button>
      </div>
      <div class="table-selector" id="day">
        <button (click)="appState.changeToday()"><</button>
        {{appState.statsForToday ? 'Today' : 'All time'}}
        <button (click)="appState.changeToday()">></button>
      </div>
      <div class="table-selector" id="population">
        <button (click)="appState.changePopulation()"><</button>
        {{appState.statsForPoopulation ? 'By 100k' : 'All'}}
        <button (click)="appState.changePopulation()">></button>
      </div>
    </section>
  </section>
  <ng-template class="table-world" #loader>Loading...</ng-template>
</section>
