.table-wrapper {
  display: flex;
  border: 2px solid rgb(255, 208, 0);
  border-radius: 10px;
  width: 500px;
  overflow: hidden;
  h2{
    padding-left: 0.5vw;
  }
  .table-countries {
    height: 400px;
    overflow: auto;
    .table-countries__country {
      border: 2px solid green;
      border-radius: 5px;
      margin: 1px;
    }
  }
}
