<section class="table-wrapper" *ngIf="!loading; else loader">
  <input list="countries" id="table-countries__input2" [(ngModel)]="appState.currentField">
      <datalist id="countries">
        <option *ngFor="let country of countries | filter:appState.currentField | sort">{{country.Country}}</option>
      </datalist>
      <div class="table-selector">
        <button (click)="appState.downState()"><</button>
        {{appState.currentStat}}
        <button (click)="appState.downState()">></button>
      </div>
  <section class="tables">
    <section class="table-world">
      <h2>{{appState.currentStat}}:
        {{global[appState.currentStat] | json | number}}
      </h2>
      <hr/>
      <article class="table-countries">
        <div class="table-countries__country" *ngFor="let country of countries | filter:appState.currentField | sort">
          {{country.Country}} <img src="https://www.countryflags.io/{{country.CountryCode}}/flat/32.png">
          <br>
          {{country[appState.currentStat]}}
        </div>
      </article>
    </section>
    <section class="table-world" *ngIf="!loading; else loader">
      <h2>Total recovered:
        {{global.TotalRecovered | json | number}}
      </h2>
      <hr/>
      <article class="table-countries">
        <div class="table-countries__country" *ngFor="let country of countries | filter:appState.currentField | sort">
          {{country.Country}} <img src="https://www.countryflags.io/{{country.CountryCode}}/flat/32.png">
          <br>
          {{country.TotalRecovered}}
        </div>
      </article>
    </section>
  </section>
</section>
<ng-template class="table-world" #loader>Loading...</ng-template>
